button {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 30px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  /* font-weight: 500; */
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Gentium Book Plus', serif;
}