button {
background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 30px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h1 {
    font-weight: 500;
}